#intro {
  background-color: @pink;
}

#intro p{
  margin: 5%;
  color:#fff;
}

#intro .container {
  margin: 0 auto;
  padding-bottom:100px;
  width: 60%;
  color:#fff;
  font-size: 18px;
}

footer {
  width: 100%;
  height: 300px;
  background-color: #eee;
  padding-top: 50px;
}

footer img {
  width: 150px;
  margin: 50px 50px 50px 0px;
  float: left;
}

footer p {
  width: 300px;
  float: right;
  font-size: 12px;
  padding:50px 0;
}

footer ul {
  width: 200px;
  float: right;
  margin: 50px;
}

footer a, footer a:visited {
  color: @black;
  text-decoration: none;
}

footer a:hover, footer a:active {
  color: @blackText;
  text-decoration: none;
}

/*student page*/
#student-overlay .close{
float: none;
position: fixed;
top: 10px;
right: 10px;
font-size: 2em;
height: 1em;
width: 1em;
z-index: 1000;
color:@pink;
padding: 0;
border: none;
background: none;

}
.student-info{
  position:relative;
  width:25%;
  float:left;
}

.student-main{
  width:75%;
  float:left;
}

.student-details h2{
margin:0;
padding:0;
clear:both;
position: relative;
text-align: left;

}

.student-details span{
  top: 0;
  left:0;
  float:left;
  margin-right:.2em;
  margin-bottom:.5em;
}

.student-nav li{ margin-bottom: 30px;
  list-style:none;
  float:left;
}

.program-list{
  float:right;
  width: 25%;
}

.program-list h3{
  color:@pink;
}


.program-list li a, .program-list li a:active {
  border-bottom: 1px solid #bebebe;
  color: @black;
}

.program-list li a:hover, .program-list li a.after {
  color:inherit;
  text-decoration: none;
  border-bottom: 1px solid @pink;
}
