/**** STUDENTOVERLAY.LESS ****/
/**** STUDENTOVERLAY.LESS ****/
/**** STUDENTOVERLAY.LESS ****/
/**** STUDENTOVERLAY.LESS ****/

/****************************/
/** STUDENT OVERLAY STYLES **/
/****************************/

#student-overlay {
//   background: rgba(235,235,235,.95);
  background: white;
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 1000;
  overflow: scroll;
  border: 10px solid @pink;
}

#student-overlay .close {
  text-indent: 10000px;
  background-image: url("X.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  background-size: 50px 25px;
  background-position: 0;
  border: none;
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 2em;
  z-index: 1100;
}


#student-overlay .close:hover {
  background-position: -25px 0px;
}

/* Main left/right page layout CSS */

.student-info {
  position:relative;
  width:30%;
  float:left;
  padding-right: 20px;
}

.student-main {
  width:70%;
  float:left;
}


/* Left sidebar - student info-y stuff */
.student-details h2 {
  margin:0;
  padding:0;
  clear:both;
  position: relative;
  text-align: left;
  line-height: 1.1;
  margin-bottom: .2em;
  font-style: italic;
}

.student-details span {
  top: 0;
  left:0;
  float:left;
  margin-right:.2em;
  margin-bottom:.5em;
}

.contact-info a, .contact-info a:hover {
  border-bottom: 2px solid @pink;
  text-decoration: none;
  color: @blackText;
}

.contact-info a:hover, .contact-info a:after {
  color: @pink;
}

.student-nav li {
  margin-bottom: 30px;
  list-style:none;
  float:left;
  font-size:36px;
}

.student-nav li:hover {
  color:@pink;
}

.random {
  margin: 0 50px;
}

#student-overlay ul.show-details,
#student-overlay ul.show-details li.program {
  margin-bottom: 1em;
}

/*** Image Gallery / Slideshow ***/
#student-overlay #slideshow {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-bottom: 50px;
}

#student-overlay #slideshow .active-image {
  width: 100%;
  height: 70vh;
  position: relative;
}

/* http://css-tricks.com/centering-in-the-unknown/ - this is what I used for vertical centering... works like a charm! */
/* here is some other info too: http://gtwebdev.com/workshop/vcenter/vcenter-inline-css.php */

#slideshow .active-image::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  /* margin: -0.1em; */ /* Adjusts for spacing */
}

#slideshow .active-image > img,
#slideshow .active-image > a > img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 98%;
  height: auto;
  margin: 0;
  border-radius: 2px;
}

#slideshow .active-image ul.image-caption {
  position: absolute;
  left: ~"calc(-25% - 20px)";
  bottom:0;
  text-align: right;
  width: 25%;
  font-size: 90%;
}

ul.image-caption h3 {
  font-weight: normal;
  font-style: italic;
  font-size: 1em;
}

.thumbs {
  width: ~"calc(100% + 10px)";
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 5px;
}

li.thumb {
  float: left;
  width: ~"calc(100% / 13)";
  padding: 5px;
  overflow: hidden;
}

/* Small – Tablet(ish) */
@media only screen and (min-width: @small) {
  li.thumb { }
}

/* Medium – Laptop(ish)/Small Desktop */
@media only screen and (min-width: @medium) {
	.container { width: 750px; }
}

/* Large – Desktop */
@media only screen and (min-width: @large) {
	.container { width: 1000px; }
}

li.thumb img {
  max-width: 100%;
  height: auto;
  border-radius: 2px;
  cursor: pointer;
  opacity: .5;
  transition: all .5s;
}

li.thumb:hover img { opacity: 1; }

.student-main .statement {
  width:70%;
  float:left;
  padding-right: 15px;
}

/*** Program List ***/
.program-list {
  float:right;
  width: 30%;
  padding-left: 15px;
}

.program-list h3 {
  color:@pink;
}

.program-list li a,
.program-list li a:active {
text-decoration: none;
  color: @blackText;
}

.program-list li a:hover,
.program-list li a.after {
  color:inherit;
  border-bottom: 2px solid @pink;
}

ul.student-nav li.previous {
  margin-right: 20px;
}

ul.student-nav li.next {
  margin-left: 20px;
}

ul.student-nav li.previous a:link,ul.student-nav li.next a:link,
ul.student-nav li.previous a:visited,ul.student-nav li.next a:visited, {
  color: @pink;
  text-decoration: none;
}

ul.student-nav li.previous a:hover,ul.student-nav li.next a:hover,
ul.student-nav li.previous a:active,ul.student-nav li.next a:active, {
  color: @black;
  text-decoration: none;
}


/**** / END STUDENTOVERLAY.LESS ****/
/**** / END STUDENTOVERLAY.LESS ****/
/**** / END STUDENTOVERLAY.LESS ****/
/**** / END STUDENTOVERLAY.LESS ****/
