/* ----------------------------------------------------*/
/* ---------->>> Variables for the site! <<<-----------*/
/* ----------------------------------------------------*/

@pink: #F67FC5;
@black: #222;
@darkGray: #666;
@mediumGray: #999;
@lightGray: #DDD;
@white: #FFF;
@blackText: #444;

/** screen sizes (minimum) **/
@small:  480px;
@medium: 768px;
@large:  1200px;

@font-face {
  font-family: 'Balto';
  src:  url('http://fonts.ookb.co/ff/balto/baltoweb-book.eot');
  src:  local('Balto Book'),
        local('Balto-Book'),
        url('http://fonts.ookb.co/ff/balto/baltoweb-book.eot?#iefix') format('embedded-opentype'),
        url('http://fonts.ookb.co/ff/balto/baltoweb-book.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Balto';
  src:  url('http://fonts.ookb.co/ff/balto/baltoweb-bookitalic.eot');
  src:  local('Balto Book Italic'),
        local('Balto-BookItalic'),
        url('http://fonts.ookb.co/ff/balto/baltoweb-bookitalic.eot?#iefix') format('embedded-opentype'),
        url('http://fonts.ookb.co/ff/balto/baltoweb-bookitalic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Balto';
  src:  url('http://fonts.ookb.co/ff/balto/baltoweb-bold.eot');
  src:  local('Balto Bold'),
        local('Balto-Bold'),
        url('http://fonts.ookb.co/ff/balto/baltoweb-bold.eot?#iefix') format('embedded-opentype'),
        url('http://fonts.ookb.co/ff/balto/baltoweb-bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Balto';
  src:  url('http://fonts.ookb.co/ff/balto/baltoweb-bolditalic.eot');
  src:  local('Balto Bold Italic'),
        local('Balto-BoldItalic'),
        url('http://fonts.ookb.co/ff/balto/baltoweb-bolditalic.eot?#iefix') format('embedded-opentype'),
        url('http://fonts.ookb.co/ff/balto/baltoweb-bolditalic.woff') format('woff');
  font-style: italic;
  font-weight: bold;
}

@balto-stack: 'Balto', 'Helvetica Neue', Helvetica, Arial, sans-serif;