/* ----------------------------------------------------*/
/* ---------->>> Variables for the site! <<<-----------*/
/* ----------------------------------------------------*/

@pink: #F67FC5;
@black: #222;
@blackText: #444;

/** screen sizes (minimum) **/
@small:  480px;
@medium: 768px;
@large:  1200px;
